<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <div th:each="person : ${people}">
        <tr>
            <td>
                <a th:href="@{/people/{id}(id=${person.getId()})}"
                   th:text="${person.getName() + '  ' + person.getSurname()}">user</a>
            </td>
            <td>
                <a th:text="${person.getEmail()}">email</a>
            </td>
        </tr>
    </div>
</table>

<hr/>
<a href="/people/new">add new</a>

</body>
</html>