<html lang="en" xmlns:th="http://thymeleaf.org">

<div class="container">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3">

            <div th:insert="shared/sidebar.html"></div>

        </div>

        <!-- All categories -->
        <div class="col-md-9">

            <div class="row">

                <div class="col-lg-12">

                    <div th:if="${userClickAllProducts == true}">

                        <ol class="breadcrumb">

                            <li class="breadcrumb-item active"><a th:href="@{/home}">Home</a></li>
                            <li class="breadcrumb-item active">Category</li>

                        </ol>

                    </div>

                    <div th:if="${userClickCategoryProducts == true}">

                        <ol class="breadcrumb">

                            <li class="breadcrumb-item active"><a th:href="@{/home}">Home</a></li>
                            <li class="breadcrumb-item active">Category</li>
                            <li class="breadcrumb-item active" th:text="${category.getName()}">Category name</li>

                        </ol>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</html>